header {
    background-image: linear-gradient(to right, #4169E1 , #483D8b);
}

#page-box {
    padding: 20px;
    margin: 20px;
}

#city-search  {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 4px;
}

#search-btn  {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

#history-one-btn {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

h2 {
    font-weight: bold;
}

#current-weather {
    margin: 10px;
    padding: 10px;
}

#future-forecast {
    margin: 10px;
    padding: 10px;
}

#city-search-box {
    border-bottom: solid;
}

.btn {
    background-color: #4169E1;
    color: white;
}
